<h1>Testing Permissions</h1>

<a asp-controller="Test" asp-action="TestOne">Go To First Test (Basic permissions can access)</a>
<br />
<a asp-controller="Test" asp-action="TestTwo">Go To Second Test (SuperAdmin permissions can access)</a>
<br />
<a asp-controller="Test" asp-action="TestThree">Go To Third Test (Authenticated users can access)</a>