@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<h3>Roles</h3>

<partial name="_CreateRole" model="new CreateRoleViewModel()"/>

<table class="table table-striped">
    <thead>
        <tr>
            <td>
                Role
            </td>
            <td>
                Actions
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    <form asp-controller="Roles" asp-action="Delete" asp-route-roleId="@role.Id">
                        <div class="btn-group">
                                <a asp-controller="Roles" asp-action="RolePermissions" asp-route-roleId="@role.Id" class="btn btn-primary">
                                    Edit
                                </a>
                                <button type="submit" class="btn btn-danger">
                                    Delete
                                </button>
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>